.calendar_output.poggio {
    display: flex;
    justify-content: left;
}

.calendar_table.poggio {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0 0 0 0;
    display: block;
}

.day_tr.poggio {
    background-color: #000099;
}

.day_td.poggio {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.event_tr.poggio {
    background-color: lightgrey;
}

.event_start_td.poggio {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}

.event_end_td.poggio {
    padding-left: 5px;
    padding-right: 5px;
    font-family: Tahoma, sans-serif;
}

.event_name_td.poggio {
    color: #0000ff;
    font-family: Arial, sans-serif;
}

.event_fullday_tr.poggio {
    background-color: lightgrey;
}

.event_fullday_start_td.poggio {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}

.event_fullday_name_td.poggio {
    color: #0000ff;
    font-family: Arial, sans-serif;
}

