.calendar_output.test {
    border: 5px solid #FFFF00;
    display: flex;
    justify-content: center;
}


.calendar_table.test {
    border-collapse: collapse;
    border: 1px solid black;
    width: 400px;
    margin: auto;
}

.day_tr.test {
    background-color: grey;
}

.day_td.test {
    color: red;
}

.event_tr.test {
    background-color: lightgrey;
}

.event_start_td.test {
    color: yellow;
}

.event_end_td.test {
    color: green;
}

.event_name_td.test {
    color: blue;
}

.event_fullday_tr.test {
    background-color: lightgrey;
}

.event_fullday_start_td.test {
    color: yellow;
}

.event_fullday_name_td.test {
    color: green;
}

